@import 'reset';
@import 'argon';
@import 'layout';

@font-face {
  font-family: Lato;
  src: url(../assets/Lato/Lato-Black.ttf);
  font-weight: normal;
}
@font-face {
  font-family: Pacifico;
  src: url(../assets/Pacifico/Pacifico-Regular.ttf);
  font-weight: normal;
}

/* GLOBAL VARIABLES */
// The global 'margin' or 'buffer' for the left and right gutters of the page, and bottom of sections
$buffer: 20px;
// How close things can get to each other
$buffer-crash: $buffer;
// the buffer to the left of a list
$buffer-list: $buffer;
// other stuff
$button-height: 43px;

/* GLOBAL STYLES */
html {
	// font-family: Lato, Pacifico, cursive;
	// verdana,helvetica,arial,sans-serif;
}
body {
}
h2 {
	padding-top: $buffer - 6px;
	padding-left: $buffer;
	font-size: 40px;
	background-color: pink;
}
h2:hover {
	cursor: pointer;
}
.table-flex-wrapper {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
	align-content: flex-start;
}
.table-centerer {
	flex-grow: 1;
}
table {
	margin-left: $buffer;
	margin-right: $buffer;
	border-collapse: collapse;
	background-color: pink;
}
th {
  padding: 3px;
  vertical-align: top;
  text-align: left;
  border: 1px solid #555;
  color: #fff;
  background-color: #555;
}
tr:nth-child(odd) {
  background-color: #f1f1f1;
}
tr:nth-child(even) {
  background-color: white;
}
td {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
  vertical-align: top;
  line-height: 130%;
  border: 1px solid #d4d4d4;
}
ul, ol {
	margin-left: $buffer-list + 20px;
	margin-top: $buffer-list;
}
ul {
	list-style-type: disc;
}
ol {
	list-style-type: decimal;
}

/* OVERLAY */
// The overlay is what appears whenever there is an 'alert'.  If a user clicks on something for more info, the overlay basically darkens or brightens the screen and displays a message to them along with an OK button
.overlay {
	// note that z-index ONLY works on positioned elements, so something like the below is *necessary*
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	// must appear above everything when it does show up
	z-index: 2;
	// hidden by default, made visible by JavaScript when needed
	pointer-events: none;
	opacity: 0;
	transition: opacity 0.4s linear;
	background-color: rgba(255, 255, 255, 0.9);
	color: #222;
}
.alert-flex-wrapper {
	max-width: 80%;
	max-height: 80%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	background-color: lightgreen;
}
.message {
	overflow: scroll;
}
.buttons-flex-wrapper {
	height: $button-height;
	min-height: $button-height;
	margin-top: $buffer-crash;
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: flex-start;
	align-content: flex-start;
	background-color: pink;
}

.okay-button {
}

/* SETTINGS */
section.settings {
	padding-bottom: $buffer;
}
.settings-flex-wrapper {
	position: relative;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
	margin-top: 14px;
	padding-left: $buffer + 20px;
	padding-right: $buffer;
	background-color: orange;
}
.settings-content-wrapper {
	background-color: lightgreen;
}
.settings-button-invisible {
	align-self: flex-end;
	margin-left: 0;
	margin-top: $buffer-crash;
	visibility: hidden;
}
.settings-button {
	position: absolute;
	right: $buffer;
	bottom: 0;
}
button:hover {
	// argon button drop shadow should go here.  This should also fix hover glitch when clicking on 'show more settings'
	background-color: blue;
}

/* QUEUE */
section.queue {
	padding-bottom: $buffer;
	background-color: orange;
}
.queue-flex-wrapper {
	min-height: $buffer + $button-height + $buffer;
	position: relative;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: flex-start;
	padding-right: $buffer;
}
.queue-button-invisible {
	height: $button-height;
	margin-left: $buffer-crash;
	margin-top: $buffer-crash;
	visibility: hidden;
}
.queue-button {
	position: absolute;
	right: $buffer;
	bottom: $buffer;
}

/* PAYOUT AND RESET */
section.payout {
	background-color: lime;
}
.payout-flex-wrapper {
	min-height: $buffer + $button-height + $buffer;
	position: relative;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: flex-start;
	padding-right: $buffer;
	background-color: yellow;
}
.payout-button-invisible {
	height: $button-height;
	margin-left: $buffer-crash;
	margin-top: $buffer-crash;
	visibility: hidden;
}
.reset-button-invisible {
	@extend .payout-button-invisible;
}
.payout-button {
	position: absolute;
	right: $buffer;
	bottom: $buffer;
}
.reset-button {
	@extend .payout-button;
}

/* SUCCESS */
section.success {
	padding-bottom: $buffer;
	background-color: pink;
}

/* HISTORY */
section.history {
	padding-bottom: $buffer;
	background-color: purple;
}
