@import 'reset';
@import 'argon';

// this defines the 'Pacifico' font to be used in font-family
@font-face {
  font-family: Lato;
  src: url(../assets/Lato/Lato-Black.ttf);
  font-weight: normal;
}
@font-face {
  font-family: Pacifico;
  src: url(../assets/Pacifico/Pacifico-Regular.ttf);
  font-weight: normal;
}

/* GLOBAL THINGS */
html {
	// font-family: Lato, Pacifico, cursive;


}
h2 {
	padding-top: 14px;
	padding-left: 20px;
	padding-bottom: 14px;
	font-size: 40px;
}
section {
}
.flex-wrapper {
	position: relative;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
	padding-left: 40px;
	padding-right: 20px;
	padding-bottom: 20px;
	background-color: orange;
}
.content-wrapper {
	padding-right: 20px;
	padding-bottom: 20px;
	background-color: lightgreen;
}
.button-wrapper {
	align-self: flex-end;
	background-color: yellow;
	visibility: hidden;
}
.sticky {
	position: absolute;
	right: 20px;
	bottom: 20px;
}
button {
}



/* MAIN THINGS */
.main-container {
	/* force it to take up the entire window */
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	/* flex */
	display: flex;
	background-color: yellow;
}
.left-container {
	width: 240px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: red;
}
.left-spacer-1 {
	height: 20%;
	background-color: yellow;
}
.logo {
	height: 20%;
	background-color: green;
}
.left-spacer-2 {
	height: 20%;
	background-color: blue;
}
nav {
	height: 20%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: purple;
}
.nav-item {
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
	font-size: 1.9em;
	background-color: red;
}
.left-spacer-3 {
	height: 20%;
}
.right-container {
	/* take up as much space as possible */
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: pink;
}
.transaction-settings {
	color: white;
	background-color: #880044;
}
.transaction-list {
	background-color: lightgreen;
}
